@font-face {
  font-family: 'Calluna';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}

#columns {
  column-width: 240px;
  column-gap: 25px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: 0.7rem;
  color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: 0.4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

div figure {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  #columns {
    column-gap: 0px;
  }
  #columns figure {
    width: 100%;
  }
}
.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.popup_content {
  background-color: rgb(255, 255, 254);
  display: flex;
  padding: 50px 50px 50px 50px;
  text-align: center;
  position: absolute;
  margin: 30px 0px 30px 0px;
  height: 800px;
  width: 1200px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.preImg {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding: 15px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
}
.greyRule {
  position: relative;
  background: #e7e7e7;
  width: 1px;
  height: 100%;
  margin: 0px 25px 0px 15px;
}
.greyRule hr {
  display: none;
}

.book_content {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

#aut {
  font-size: 25px;
  text-align: left;
  margin: 25px 10px 10px;
}

#tit {
  font-size: 35px;
  text-align: left;
  margin: 0px 10px 0px;
}

.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}

/* 원고지 내용 */

/* base font-size */
html {
  font-size: 20px;
}

/* live memo */
.memo {
  position: absolute;
  top: 160px;
  right: 0;
  left: 10px;
  z-index: 100;
  width: 541px;
  max-height: 480px;
  min-height: 2rem;
  margin: 90px auto;
  font-size: 1rem;
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.5rem;
  color: #555;
  /* grid */
  background-image: linear-gradient(#f99 1px, white 1px, white 25%, #f99 26%, transparent 27%), linear-gradient(#f99 1px, transparent 1px), linear-gradient(90deg, #f99 1px, transparent 1px);
  background-size: 100% 2rem, 1.5rem 2rem, 1.5rem 1.5rem;
  background-position: 0 1.75rem, 0 0, 1.5rem 1.5rem;
  /* indicate caret position */
}
.memo span {
  display: block;
  float: left;
  width: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  /* new line */
}
.memo span.nl + span {
  clear: both;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.memo .caret {
  position: relative;
  margin-right: -1.5rem;
}
.memo .caret:after {
  content: '';
  position: absolute;
  top: 0.4rem;
  left: 0.3rem;
  bottom: 0.4rem;
  display: block;
  width: 0.05rem;
  opacity: 0.5;
  background: #fb0;
  animation: blink-effect 1s step-end infinite;
}
/* hide original textarea */
.writin {
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  border: 0;
  opacity: 0;
}
/* character count */
/* .char-count {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  height: 4rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  line-height: 4rem;
  text-align: center;
  color: #555;
}
.char-count:after {
  content: '자 /100자';
  display: inline;
} */

/* 아이콘 */
#read {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

#willread {
  font-size: 25px;
  color: black;
  cursor: pointer;
}
