  * {
    box-sizing: border-box;
  }
  /* base font-size */
  html {
    font-size: 30px;
  }
  
  .preview {
    position: absolute;
    top: 220px ;
    right: 0;
    left: 0;
    z-index: 100;
    width: calc(13.5rem + 1px);
    min-height: 2rem;
    margin: 3rem auto;
    font-size: 1rem;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.5rem;
    color: #555;
   /* grid */
    background-image: linear-gradient(#f99 1px, white 1px, white 25%, #f99 26%, transparent 27%), linear-gradient(#f99 1px, transparent 1px), linear-gradient(90deg, #f99 1px, transparent 1px);
    background-size: 100% 2rem, 1.5rem 2rem, 1.5rem 1.5rem;
    background-position: 0 1.75rem, 0 0, 1.5rem 1.5rem;
   /* indicate caret position */
  }
  
  .preview span {
    display: block;
    float: left;
    width: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
   /* new line */
  }
  .preview span.nl + span {
    clear: both;
  }
  @keyframes blink-effect {
  50% {
    opacity: 0;
  }
  }
  
  .preview .caret {
    position: relative;
    margin-right: -1.5rem;
  }
  .preview .caret:after {
    content: '';
    position: absolute;
    top: 0.4rem;
    left: 0.3rem;
    bottom: 0.4rem;
    display: block;
    width: 0.05rem;
    opacity: 0.5;
    background: #fb0;
    animation: blink-effect 1s step-end infinite;
  }
  
  .orig-text {
    position: absolute;
    top: 318px;
    bottom: 84%;
    left: -150;
    z-index: 102;
    height: 50px;
    width: 100%;
    border: 0;
    opacity: 0;
  }

  #ui-id-1 {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 0;
    border-bottom-width: 0;
  }
  
  /* .containall {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    border: 0;
    opacity: 0.8;
  } */
  
  .ui-autocomplete {
  background-color: inherit;
  }
  
  .content {
  font-size: 12px;
  background-color: white;
  display: flex;
  padding: 0px 0px 0px 0px;
  text-align: center;
  position: relative;
  margin: 0rem auto;
  top: 40%;
  height: 75%;
  width: 406px;
  border: 10px rgb(255 153 153);
  }
  
  .pre {
  background: #fefefe;
  border: 1px solid rgb(255 153 153);
  width: 140px;
  padding: 5px;
  display: inline-block;
  }
  
  
  .bookcontent {
  height: 120px;
  width: 500px;
  margin: 0px 0px 0px 0px;
  margin-right: 0px;
  /* background-color: black; */
  border: 1px solid rgb(255 153 153);
  }

/* quote typing */
.wrapper {
    height: 60vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 35.5ch;
    animation: typing 1.8s steps(22), blink 1.0s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1em;
    font-family: 'Nanum Myeongjo';
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
